name: Hello World

on:
  push:
    branches: [main]
    paths: ['.github/workflows/01-hello-world.yml']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Hello, world!
          echo This is a multi-line script.
