name: First Workflow

on:
  push:
    branches: [main]
jobs:
  test:
    strategy:
      matrix:
        node-version: [22]
    runs-on: ubuntu-latest
    name: Checkout
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test
